/* Footer */

:root{
    --main1: #2c558f;
    --main2: #d9cdbf;
}

.containerr{
    background-color: var(--main1);
    color: var(--main2);
}
.footerpart1 img{
    max-width: 250px;
}
.footerpart2 a{
    color: var(--main2);
}
.allRightReserved{
    background-color: var(--main2);
    color: var(--main1);
}
.footer a:hover {
  color: #898a6f;
  text-decoration: underline !important;
}
.social i{
    color: var(--main2);
    border-color: var(--main2) !important;
}
.footerpart4 img{
    transition: 0.3s ease-in-out;
}
.footerpart4 img:hover {
    transform: scale(1.1);
}
